{% extends "base2.html" %}
{% block title %}Create a New Service{% endblock %}
{% block content %}

<div class="container">
    <h1 class="center">Create a New Service</h1>
    <br/>

    <form method="POST">
        <div class="center">
            <div class="row">
                <div class="col">
                    <label for="platform_name" class="left">Platform Name:</label>
                    <select class="form-control" name="platform_name" id="platform_name">
                        {% for platform in platform_names %}
                            <option value="{{ platform }}">{{ platform }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="used_by" class="left">Used by:</label>
                    <input type="text" class="form-control" name="used_by" id="used_by" placeholder="Used by">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="service_type" class="left">Service Type:</label>
                    <input type="text" class="form-control" name="service_type" id="service_type" placeholder="Service Type">
                </div>
                <div class="col">
                    <label for="website" class="left">Service Website:</label>
                    <input type="text" class="form-control" name="website" id="website" placeholder="Service Website">
                </div>
            </div>
            <div class="row" >
                <div class="col" >
                    <label for="web_username" class="left">Website Username:</label>
                    <input type="text" class="form-control" name="web_username" id="web_username" placeholder="Website Username">
                </div>
                <div class="col">
                    <label for="web_password" class="left">Website Password:</label>
                    <input type="text" class="form-control" name="web_password" id="web_password" placeholder="Website Password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email" class="left">Email:</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="col">
                    <label for="email_password" class="left">Email Password:</label>
                    <input type="text" class="form-control" name="email_password" id="email_password" placeholder="Email Password">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="ip" class="left">IP/Domain:</label>
                    <input type="text" class="form-control" name="ip" id="ip" placeholder="IP/Domain">
                </div>
                <div class="col">
                    <label for="ip_username" class="left">IP Username:</label>
                    <input type="text" class="form-control" name="ip_username" id="ip_username" placeholder="IP Username">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="ip_password" class="left">IP Password:</label>
                    <input type="text" class="form-control" name="ip_password" id="ip_password" placeholder="IP Password">
                </div>
                <div class="col">
                    <label for="date_exp" class="left">Exp-date:</label>
                    <input type="date" class="form-control" name="date_exp" id="date_exp" placeholder="User Date" >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="doc_reff" class="left">Document Reference:</label>
                    <input type="text" class="form-control" name="doc_reff" id="doc_reff" placeholder="Document Reference" >
                </div>
                <div class="col">
                    <label for="phone" class="left">Phone:</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" ">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="country" class="left">Country:</label>
                    <input type="text" class="form-control" name="country" id="country" placeholder="Country">
                </div>
                <div class="col">
                    <label for="etc" class="left">Notes:</label>
                    <textarea name="etc" id="etc" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="center">
            <button type="submit" class="btn btn-lg btn-primary">Post</button>

            <a href="/"><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
    
        </div>
    </form>
    </div>
</div>

{% endblock %}
